.red{
    color: red;
}
.notice{
    margin-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: 1rem;
}
@media only screen and (max-width: 1292px){
    .notice{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
@media only screen and (max-width: 768px){
    .notice{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media only screen and (max-width: 415px){
    .notice{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media only screen and (max-width: 415px){
    .red{
        font-size: 1rem;
    }
}