<p-card>
  <ng-template pTemplate="title"> Personal Information </ng-template>
  <ng-template pTemplate="subtitle">
    Please fill-in all the required field (
    <span style="color: red">*</span> )
  </ng-template>
  <ng-template pTemplate="content">
    <form class="mt-4" [formGroup]="personalForm">
      <div class="p-fluid formgrid grid">
        <div class="field col-6 md:col-12">
          <label class="mb-1" for="firstName"
            >Child/Adult/PWD/Senior <span style="color: red">*</span></label
          >
          <p-dropdown
            [options]="categories"
            placeholder="Select"
            optionLabel="name"
            [showClear]="true"
            formControlName="personalCategory"
            optionValue="code"
            [ngClass]="{
              'ng-dirty': validateControl('personalCategory')
            }"></p-dropdown>
          <small *ngIf="validateControl('personalCategory')" class="p-error"
            >Field is required.</small
          >
        </div>
        <div class="field col-6 md:col-12">
          <label class="mb-1" for="firstName"
            >Referred by <span style="color: red">*</span></label
          >
          <p-dropdown
            [options]="referrals"
            placeholder="Select"
            optionLabel="name"
            [showClear]="true"
            formControlName="referral"
            optionValue="code"
            [ngClass]="{
              'ng-dirty': validateControl('referral')
            }"></p-dropdown>
          <small *ngIf="validateControl('referral')" class="p-error"
            >Referred by is required.</small
          >
        </div>
      </div>
      <!-- FN,MN,LN -->
      <div class="p-fluid formgrid grid">
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="lastName"
            >Last Name <span style="color: red">*</span></label
          >
          <input
            id="lastName"
            type="text"
            pInputText
            formControlName="lastName"
            [ngClass]="{
              'ng-dirty': validateControl('lastName')
            }" />
          <small *ngIf="validateControl('lastName')" class="p-error"
            >Last Name is required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="firstName"
            >First Name <span style="color: red">*</span></label
          >
          <input
            id="firstName"
            type="text"
            pInputText
            formControlName="firstName"
            [ngClass]="{
              'ng-dirty': validateControl('firstName')
            }" />
          <small *ngIf="validateControl('firstName')" class="p-error"
            >Firstname is required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="middleName"
            >Middle Name <span style="color: red">*</span></label
          >
          <input
            id="middleName"
            type="text"
            pInputText
            formControlName="middleName"
            [ngClass]="{
              'ng-dirty': validateControl('middleName')
            }" />
          <small *ngIf="validateControl('middleName')" class="p-error"
            >Middle Name is required.</small
          >
        </div>
      </div>
      <!-- DOB , Age , Civil Status -->

      <div class="p-fluid formgrid grid">
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="birthDate"
            >Date of Birth <span style="color: red">*</span></label
          >
          <p-calendar
            inputId="icon"
            id="birthDate"
            formControlName="birthDate"
            dataType="string"
            [(ngModel)]="birthDate"
            (onSelect)="calculateAge()"
            [maxDate]="today"
            (onInput)="calculateAge()"
            [ngClass]="{
              'ng-dirty': validateControl('birthDate')
            }"></p-calendar>
          <small *ngIf="validateControl('birthDate')" class="p-error"
            >Date of Birth is required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="age"
            >Age <span style="color: red">*</span></label
          >
          <input
            pInputText
            id="age"
            formControlName="age"
            [ngClass]="{
              'ng-dirty': validateControl('age')
            }"
            readonly />
          <small *ngIf="validateControl('age')" class="p-error"
            >Age is required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="civilStatus"
            >Civil Status <span style="color: red">*</span></label
          >
          <p-dropdown
            [options]="civilStatus"
            placeholder="Select"
            optionLabel="name"
            [showClear]="true"
            formControlName="civilStatus"
            optionValue="name"
            [ngClass]="{
              'ng-dirty': validateControl('civilStatus')
            }"></p-dropdown>
          <small *ngIf="validateControl('civilStatus')" class="p-error"
            >Civil Status is required.</small
          >
        </div>
      </div>
      <!-- Gender  -->
      <div class="p-fluid formgrid grid">
        <div class="field col-6 md:col-12">
          <label class="mb-1" for="gender"
            >Gender <span style="color: red">*</span></label
          >
          <p-dropdown
            [options]="gender"
            placeholder="Select Gender"
            optionLabel="name"
            [showClear]="true"
            formControlName="gender"
            optionValue="name"
            [ngClass]="{
              'ng-dirty': validateControl('gender')
            }"></p-dropdown>
          <small *ngIf="validateControl('gender')" class="p-error"
            >Gender is required.</small
          >
        </div>
      </div>

      <div
        class="p-fluid formgrid grid"
        *ngIf="personalForm.get('gender')?.value === 'Female'">
        <div class="field col-4 md:col-12">
          <label class="mb-1 mr-2" for="hasMenstrualPeriod"
            >Is Menstrual Period Applicable?
          </label>
          <p-checkbox
            [binary]="true"
            inputId="hasMenstrualPeriod"
            formControlName="hasMenstrualPeriod"
            class="vertical-align-top"
            (onChange)="validateMenstrualDates($event)"></p-checkbox>
        </div>
      </div>

      <div
        class="p-fluid formgrid grid"
        *ngIf="
          personalForm.get('gender')?.value === 'Female' &&
          personalForm.get('hasMenstrualPeriod')?.value === true
        ">
        <div class="field col-6 md:col-12">
          <label for="menstrualPeriodStart"
            >Menstrual Period Start <span style="color: red">*</span></label
          >
          <p-calendar
            inputId="icon"
            id="menstrualPeriodStart"
            formControlName="menstrualPeriodStart"
            [maxDate]="today"
            [ngClass]="{
              'ng-dirty': validateControl('menstrualPeriodStart')
            }"></p-calendar>
          <small *ngIf="validateControl('menstrualPeriodStart')" class="p-error"
            >Menstrual Period Start is required.</small
          >
        </div>
        <div class="field col-6 md:col-12">
          <label for="menstrualPeriodEnd"
            >Menstrual Period End <span style="color: red">*</span></label
          >
          <p-calendar
            inputId="icon"
            id="menstrualPeriodEnd"
            formControlName="menstrualPeriodEnd"
            [maxDate]="today"
            [ngClass]="{
              'ng-dirty': validateControl('menstrualPeriodEnd')
            }"></p-calendar>
          <small *ngIf="validateControl('menstrualPeriodEnd')" class="p-error"
            >Menstrual Period End is required.</small
          >
        </div>
      </div>

      <div class="p-fluid formgrid grid">
        <div class="field col-12">
          <label class="mb-1" for="intendedOccupation"
            >Intended Occupation / Activity / Study(Course)
            <span style="color: red">*</span></label
          >
          <textarea
            pInputTextarea
            formControlName="intendedOccupation"
            [rows]="5"
            placeholder="Intended Occupation / Activity / Study(Course)"
            [ngClass]="{
              'ng-dirty': validateControl('intendedOccupation')
            }"></textarea>
          <small *ngIf="validateControl('intendedOccupation')" class="p-error"
            >Intended Occupation / Activity / Study(Course) is required.</small
          >
        </div>
      </div>
      <!-- Passport / Date Issued -->

      <div class="p-fluid formgrid grid">
        <div class="field col-4 md:col-12">
          <label class="small mb-1" for="passportNumber"
            >Passport Number
            <span style="color: red" *ngIf="isPassportRequired">*</span></label
          >
          <input
            id="passportNumber"
            type="text"
            pInputText
            formControlName="passportNumber"
            [ngClass]="{
              'ng-dirty': validateControl('passportNumber')
            }" />
          <small *ngIf="validateControl('passportNumber')" class="p-error"
            >Passport Number is Required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="dateIssued"
            >Date Issued
            <span style="color: red" *ngIf="isPassportRequired">*</span></label
          >
          <p-calendar
            inputId="icon"
            id="dateIssued"
            formControlName="dateIssued"
            [(ngModel)]="dateIssued"
            dataType="string"
            [maxDate]="today"
            [ngClass]="{
              'ng-dirty': validateControl('dateIssued')
            }"></p-calendar>
          <small *ngIf="validateControl('dateIssued')" class="p-error"
            >Date Issued is required.</small
          >
        </div>
        <div class="field col-2 md:col-12 my-5">
          <label class="mr-2" for="isExpired">Expired in 6 Months? </label>
          <p-checkbox
            [binary]="true"
            inputId="isExpired"
            class="vertical-align-top"
            formControlName="isExpired">
          </p-checkbox>
        </div>
      </div>

      <div class="p-fluid formgrid grid">
        <div class="field col-4 md:col-12 my-5">
          <label class="mr-2" for="hasOtherId">Other ID </label>
          <p-checkbox
            [binary]="true"
            inputId="hasOtherId"
            class="vertical-align-top"
            formControlName="hasOtherId"
            (onChange)="validateOtherId($event)">
          </p-checkbox>
        </div>
        <div
          class="field col-4 md:col-12"
          *ngIf="personalForm.get('hasOtherId')?.value === true">
          <label class="small mb-1" for="otherId"
            >Other ID <span style="color: red">*</span></label
          >
          <input
            id="otherId"
            type="text"
            pInputText
            formControlName="otherId"
            [ngClass]="{
              'ng-dirty': validateControl('otherId')
            }" />
          <small *ngIf="validateControl('otherId')" class="p-error"
            >Other ID is Required.</small
          >
        </div>
      </div>
      <!-- email|Mobile Number|Landline -->
      <div class="p-fluid formgrid grid">
        <div class="field col-4 md:col-12">
          <label class="small mb-1" for="email"
            >Email Address<span style="color: red">*</span></label
          >
          <input
            id="email"
            type="text"
            pInputText
            formControlName="email"
            placeholder="sample@sample.com"
            [ngClass]="{
              'ng-dirty': validateControl('email')
            }" />
          <small *ngIf="validateControl('email')" class="p-error"
            >Email Address is Required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="mobileNumber"
            >Mobile Number <span style="color: red">*</span></label
          >
          <input
            type="text"
            pInputText
            pKeyFilter="int"
            formControlName="mobileNumber"
            inputId="mobileNumber"
            [ngClass]="{
              'ng-dirty': validateControl('mobileNumber')
            }" />
          <small *ngIf="validateControl('mobileNumber')" class="p-error"
            >Mobile Number is required.</small
          >
        </div>
        <div class="field col-4 md:col-12">
          <label class="mb-1" for="landLineNumber">Landline Number </label>
          <input
            type="text"
            pInputText
            pKeyFilter="int"
            formControlName="landLineNumber"
            inputId="landLineNumber" />
        </div>
      </div>

      <div class="p-fluid formgrid grid">
        <div class="field col-12">
          <label class="mb-1" for="address"
            >Address <span style="color: red">*</span></label
          >
          <textarea
            pInputTextarea
            formControlName="address"
            [rows]="5"
            placeholder="Address"
            [ngClass]="{
              'ng-dirty': validateControl('address')
            }"></textarea>
          <small *ngIf="validateControl('address')" class="p-error"
            >Address is required.</small
          >
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-between">
      <p-button
        label="Back"
        (onClick)="prevPage()"
        icon="pi pi-angle-left"></p-button>
      <p-button
        label="Next"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
        [disabled]="personalForm.invalid"></p-button>
    </div>
  </ng-template>
</p-card>
