
<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-lg-0 order-2 order-lg-1"
        >
        <div class="animate__animated animate__fadeInDown">
            <h1>Nationwide Health System Group</h1>
            <h2>
              Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu et
              fastidii forensibus voluptatibus. His ei nihil feugait
            </h2>
          <a [routerLink]="'appointment'" class="appointment-btn py-3 px-4"
            >Make an Appointment</a
          >
        </div>
      </div>
      <div
        class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img animate__animated animate__slideInRight ">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section> -->
<div class="hero-slant overlay" data-stellar-background-ratio="0.5" style="background-image: url('assets/img/hero-min.jpg')">

  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-7 intro animate__animated animate__fadeInDown">
        <h1 class="text-white fw-bold mb-4">Nationwide Health System Group</h1>
        <p class="text-white mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, odio. 
          Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo adipisci deserunt molestiae ullam, laborum tenetur consequuntur distinctio sequi quis tempora!</p>
        <a [routerLink]="'appointment'" class="appointment-btn py-3 px-4"
        >Make an Appointment</a>
      
      </div>
      
      
    </div>

    
  </div>

  <div class="slant" style="background-image: url('assets/img/slant.svg');"></div>
</div>
<!-- End Hero -->

<!-- About Start -->
<!-- <div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 animate__animated animate__fadeInDown">
              <img class="img-fluid about-img" src="assets/img/about.png" alt="">
          </div>
          <div class="col-lg-6 animate__animated animate__fadeInUp">
              <div class="h-100">
                  <h1 class="display-6">About Us</h1>
                  <p class="text-primary fs-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  <div class="text-secondary">
                  <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                      Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                  </p>
                  <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
                      diam et eos. Clita erat ipsum et lorem et sit.</p>
                  <div class="d-flex align-items-center mb-2">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Tempor erat elitr rebum at clita</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Tempor erat elitr rebum at clita</span>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Tempor erat elitr rebum at clita</span>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- About End -->
   <!-- About Start -->
   <div id="about" class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 animate__animated animate__fadeInDown">
                <img class="img-fluid rounded" style="width: 75%;"src="assets/img/about.jpg">
            </div>
            <div class="col-lg-6 animate__animated animate__fadeInUp">
                <p class="d-inline-block border rounded py-1 px-3 about">About Us</p>
                <h1 class="display-6 mb-4">Lorem ipsum dolor sit amet.</h1>
                <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur veritatis quo eos voluptate nobis nihil qui voluptatibus in fuga.
                </p>
                <div class="border rounded p-4">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link fw-semi-bold active" id="nav-story-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-story" type="button" role="tab" aria-controls="nav-story"
                                aria-selected="true">Story</button>
                            <button class="nav-link fw-semi-bold" id="nav-mission-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                                aria-selected="false">Mission</button>
                            <button class="nav-link fw-semi-bold" id="nav-vision-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                                aria-selected="false">Vision</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-story" role="tabpanel"
                            aria-labelledby="nav-story-tab">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, exercitationem!
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, exercitationem!
                            </p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, exercitationem
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, exercitationem!
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-mission" role="tabpanel"
                            aria-labelledby="nav-mission-tab">
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                amet diam et eos labore.</p>
                            <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                Clita erat ipsum et lorem et sit</p>
                        </div>
                        <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                amet diam et eos labore.</p>
                            <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                Clita erat ipsum et lorem et sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid facts my-5 py-5">
  <div class="container py-5">
      <div class="row g-5">
        <div class="col-sm-12 col-lg-4 text-center">
          <i class="fa fa-users fa-3x text-white mb-3"></i>
          <h1 class="display-4 text-white">40+</h1>
          <span class="fs-5 text-white">Clients Per Day</span>
          <hr class="bg-white w-25 mx-auto mb-0">
      </div>
      <div class="col-sm-12 col-lg-4 text-center">
          <i class="fa fa-check fa-3x text-white mb-3"></i>
          <h1 class="display-4 text-white">100+</h1>
          <span class="fs-5 text-white">Processed Visa</span>
          <hr class="bg-white w-25 mx-auto mb-0">
      </div>
      <div class="col-sm-12 col-lg-4 text-center">
          <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
          <h1 class="display-4 text-white">30+</h1>
          <span class="fs-5 text-white">Dedicated Staff</span>
          <hr class="bg-white w-25 mx-auto mb-0">
      </div>
      </div>
  </div>
</div>
<div class="container-xxl  py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 ">
              <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3 whyUs">Why Choosing Us!</p>
              <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
              <p class="mb-4 text-secondary text-justify" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed saepe voluptatibus ipsa corrupti ullam enim,
                 tempora excepturi quas sunt possimus? Illum molestias inventore accusantium hic earum recusandae! Sequi, modi quibusdam.
              </p>
          </div>
          <div class="col-lg-6" >
              <div class="row g-4 align-items-center">
                  <div class="col-md-6">
                      <div class="row g-4">
                          <div class="col-12">
                              <div class="border rounded p-4">
                                  <h4 class="mb-3 fw-bold"><i class="fa fa-check mr-2 text-primary"></i>Lorem Ipsum dolor</h4>
                                  <p class="mb-3 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa eos 
                                    adipisci quam. Aperiam, dolor!</p>
                              </div>
                          </div>
                          <div class="col-12">
                            <div class="border rounded p-4">
                                <h4 class="mb-3 fw-bold"><i class="fa fa-check mr-2 text-primary"></i>Lorem Ipsum dolor</h4>
                                <p class="mb-3 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa eos 
                                  adipisci quam. Aperiam, dolor!</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6 ">
                      <div class="border rounded p-4">
                          <h4 class="mb-3 fw-bold"> <i class="fa fa-check mr-2 text-primary"></i>Lorem Ipsum dolor</h4>
                          <p class="mb-3 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa eos 
                            adipisci quam. Aperiam, dolor!</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>