<div class="site-footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="widget">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque itaque atque esse impedit illo 
                commodi omnis beatae debitis, vero maiores nam unde, quidem quas similique harum porro perferendis repudiandae quis?</p>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="widget">
                <h3>Connect with us</h3>
                <ul class="social list-unstyled">
                  <li ><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                  <li><a href="#"><span class="fa-brands fa-linkedin"></span></a></li>
                </ul>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h3>Get in Touch</h3>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Lorem, Ipsum De lor</p>
                    <p><i class="fa fa-phone-alt me-3"></i>(02) 123 456 789</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>  
            </div>
        </div>
      </div>

      <div class="row justify-content-center text-center copyright">
        <div class="col-md-8">
          <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. Nationwide Health System Group
          </p>
        </div>
      </div>
    </div>
  </div>